<div>
  <h3>新增角色</h3>
  <!--报错信息-->
  <p-messages [(value)]="msgs"></p-messages>
  <p-growl [(value)]="msgsDialog"></p-growl>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <div class="input">
            <h4 class="first">角色名</h4>
            <span class="ui-float-label">
              <input pInputText id="float-menuId" type="text" size="30" [(ngModel)]="order.roleName" (blur)="inputValidations('roleName')"
                     placeholder="角色名">
            </span>
          </div>
        </div>

        <div class="ui-g-12 ui-md-4">
          <div class="input">
            <h4 class="first">备注</h4>
            <span class="ui-float-label">
              <input id="float-menuName" type="text" size="30" [(ngModel)]="order.menuName" pInputText placeholder="备注"
                     >
            </span>
          </div>
        </div>
    </div>
  <p-fieldset legend="菜单权限" [toggleable]="true">
    <p-tree [value]="menuTable" selectionMode="checkbox" [(selection)]="selectOrder"
            (onNodeSelect)="menuSelect($event)" (onNodeUnselect)="menuSelect($event)">
    </p-tree>
  </p-fieldset>

  <p-fieldset legend="菜单权限测试" [toggleable]="true">
    <p-tree [value]="menuTableDemo" selectionMode="checkbox" [(selection)]="selectOrder"
            (onNodeSelect)="menuSelect($event)" (onNodeUnselect)="menuSelect($event)">
    </p-tree>
  </p-fieldset>
  <div>
    <button type="button" pButton (click)="addRole()" label="确定添加" class="ui-button-success" [disabled]="isAddBtn"></button>
  </div>
</div>





