<!--（position:static）元素框正常生成。块级元素生成一个矩形框，作为文档流的一部分，行内元素则会创建一个或多个行框，置于其父元素中。
<h2 style="border:1px solid black">这是位于正常位置的标题</h2>
<h2 style="position:static;left:-20px;border:1px solid red">向左移动</h2>
<h2 style="position:static;left:+20px;border:1px solid yellow">向右移动</h2>
<p>相对定位会按照元素的原始位置对该元素进行移动。</p>
<p>样式 "left:-20px" 从元素的原始左侧位置减去 20 像素。</p>
<p>样式 "left:20px" 向元素的原始左侧位置增加 20 像素。</p>

<br/>
（position:relative）元素框偏移某个距离。元素仍保持其未定位前的形状，它原本所占的空间仍保留。
<h2 style="border:1px solid black">这是位于正常位置的标题</h2>
<h2 style="position:relative;left:-20px;border:1px solid red">向左移动</h2>
<h2 style="position:relative;left:+20px;border:1px solid yellow">向右移动</h2>
<p>相对定位会按照元素的原始位置对该元素进行移动。</p>
<p>样式 "left:-20px" 从元素的原始左侧位置减去 20 像素。</p>
<p>样式 "left:20px" 向元素的原始左侧位置增加 20 像素。</p>

<br/>
（position:absolute）元素框从文档流完全删除，并相对于其包含块定位。包含块可能是文档中的另一个元素或者是初始包含块。元素原先在正常文档流中所占的空间会关闭，就好像元素原来不存在一样。元素定位后生成一个块级框，而不论原来它在正常流中生成何种类型的框。
<h2 style="border:1px solid black">这是位于正常位置的标题</h2>
<h2 style="position:absolute;left:-20px;border:1px solid red">向左移动</h2>
<h2 style="position:absolute;left:+20px;border:1px solid yellow">向右移动</h2>
<p>相对定位会按照元素的原始位置对该元素进行移动。</p>
<p>样式 "left:-20px" 从元素的原始左侧位置减去 20 像素。</p>
<p>样式 "left:20px" 向元素的原始左侧位置增加 20 像素。</p>

<br/>
（position:fixed）元素框的表现类似于将 position 设置为 absolute，不过其包含块是视窗本身。
<h2 style="border:1px solid black">这是位于正常位置的标题</h2>
<h2 style="position:fixed;left:-20px;border:1px solid red">向左移动</h2>
<h2 style="position:fixed;left:+20px;border:1px solid yellow">向右移动</h2>
<p>相对定位会按照元素的原始位置对该元素进行移动。</p>
<p>样式 "left:-20px" 从元素的原始左侧位置减去 20 像素。</p>
<p>样式 "left:20px" 向元素的原始左侧位置增加 20 像素。</p>-->

<!--<img src="../../../../../assets/picture/1.jpg" style="width: 30px;height: 30px;z-index: -1;position: absolute" title="图片1"/>
<p>1111111111111111111111111</p>-->

<!--<p style="max-width: 100px;border:1px solid red;overflow: scroll">333333333333333333333333333ssssssssssssssssssdfdasdffds2333333333333333332333333333333333333333333333333</p>

<p>
  后代选择器
  <em>w d</em>
  w da j]a
  dsa
  asd
  sd
  sda
   sda
</p>-->
<!--

<h1>This is a heading</h1>
<p>The :before pseudo-element inserts content before an element.</p>
<h1>This is a heading</h1>-->
<!--提示信息框-->
<div>
  <p-growl [(value)]="msgs"></p-growl>
  <h3>推送mq</h3>
  <span class="ui-float-label">
      <input id="float-input2" type="text" size="30" pInputText  [(ngModel)]="this.mqStr">
      <label for="float-input2">推送mq内容</label>
     <button type="button" pButton (click)="sendMq()" label="推送" class="ui-button-success" ></button>
  </span>
</div>
