<div>
  <!--提示信息框-->
  <p-growl [(value)]="msgs"></p-growl>
  <h3>菜单管理</h3>
  <div class="tools-bar">
    <button type="button" pButton (click)="routerAdd()" label="新增" class="ui-button-warning" ></button>
  </div>
  <p-dataTable #table [value]="orders" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [pageLinks]="9"
               selectionMode="single" [(selection)]="order" (onRowDblclick)="refresh()"
  >
    <p-column [style]="{'width':'100px'}" header="操作">
      <ng-template let-order="rowData" pTemplate="body">
        <button type="button" pButton (click)="refresh()" label="编辑" class="ui-button-warning"></button>
      </ng-template>
    </p-column>
    <p-column   *ngFor="let col of menuCols" [field]="col.field" [header]="col.header">
    </p-column>
    <h4>总数：{{totalRecords}}</h4>
    <ng-template let-car pTemplate="item"  >
    </ng-template>
  </p-dataTable>
</div>





