<div>
  <!--提示信息框-->
  <p-growl [(value)]="msgs"></p-growl>
  <!--提示框-->
  <p-confirmDialog header="确定删除？" icon="fa fa-question-circle" width="425"></p-confirmDialog>
  <h3>菜单管理</h3>
  <div class="tools-bar">
    <button type="button" pButton (click)="routerAdd()" label="新增" class="ui-button-success" ></button>
    <button type="button" pButton (click)="routerEdit()" label="编辑" class="ui-button-warning"></button>
    <button type="button" pButton (click)="sureDelete()" label="删除" class="ui-button-danger"></button>
  </div>
  <p-dataTable #table [value]="orders" [paginator]="true" [rows]="10"  [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [pageLinks]="9"
               selectionMode="single" [(selection)]="selectOrder" (onRowDblclick)="refresh()" dataKey="id"
  >
    <p-column [style]="{'width':'40px','text-align': 'center'}" selectionMode="single"></p-column>
    <p-column   *ngFor="let col of menuCols" [field]="col.field" [header]="col.header">
    </p-column>
    <h4>总数：{{totalRecords}}</h4>
    <ng-template let-car pTemplate="item"  >
    </ng-template>
  </p-dataTable>
</div>





