
<div style="">
  <h3 class="first">LOGIN</h3>
  <!--c提示的错误信息-->
  <p-growl [(value)]="msgs"></p-growl>
  <br/>
  <div class="input">
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" [(ngModel)]="order.userName"  pInputText>
    <label for="float-input" >UserName</label>
  </span>
  </div>
  <br/>
  <div class="input">
  <span class="ui-float-label">
    <input id="float-input-password" type="password" size="30" [(ngModel)]="order.passWord"  pInputText>
    <label for="float-input" >PassWord</label>
  </span>
  </div>
  <div class="input">
    <button pButton type="button" (click)="login()" icon="fa-check" label="Login"></button>
  </div>

</div>

