/*默认主页的样式*/
.index{
  background: url(../../../../assets/picture/1.jpg) no-repeat;
  background-size: 100% 100%;
  margin-left: 23%;
}
.top{
  background: url(../../../../assets/picture/2.png) no-repeat;
  background-size: 100%;
}
/*所有div的样式*/
div{
  margin:1px;
  border:solid 1px #00A77B;
}
