/*所有输入框的样式*/
.input{
  margin-top: 20px;
}
body{
  border:1px solid red;
}
.tools-bar{
  width: 98%;
  height: auto;
  padding: 4px;
  margin: 4px;
  background-color: #186BA0;
  border-radius:5px;/*圆角*/
  text-align:right;
}

