<div class="input">
  <span class="ui-float-label">
    <input id="float-uername" type="text" size="30" [(ngModel)]="order.userName"  pInputText>
    <label for="float-uername" >UserName</label>
  </span>
</div>
<div class="input">
  <span class="ui-float-label">
    <input id="float-password" type="password" size="30" [(ngModel)]="order.passWord"  pInputText>
    <label for="float-password" >PassWord</label>
  </span>
</div>
<div class="input">
  <span class="ui-float-label">
    <input id="float-name" type="text" size="30" [(ngModel)]="order.name"  pInputText>
    <label for="float-name" >name</label>
  </span>
</div>
<div class="input">
  <span class="ui-float-label">
    <input id="float-age" type="text" size="30" [(ngModel)]="order.age"  pInputText>
    <label for="float-age" >age</label>
  </span>
</div>
