<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-4">
    <div class="input">
      <h4 class="first">Username</h4>
  <span class="ui-float-label">
    <input id="float-uername" type="text" size="30" [(ngModel)]="order.userName"  pInputText placeholder="Username">
  </span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="input">
      <h4 class="first">Name</h4>
  <span class="ui-float-label">
    <input id="float-name" type="text" size="30" [(ngModel)]="order.name"  pInputText placeholder="Name">
  </span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="input">
      <h4 class="first">Age</h4>
  <span class="ui-float-label">
    <input id="float-age" type="text" size="30" [(ngModel)]="order.age"  pInputText placeholder="Age">
  </span>
    </div>
  </div>


  <div class="ui-g-12 ui-md-4">
    <div class="input">
      <h4 class="first">Remark</h4>
  <span class="ui-float-label">
    <input id="float-remark" type="remark" size="30" [(ngModel)]="order.remark"  pInputText placeholder="Remark">
  </span>
    </div>
  </div>

</div>




